@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

body {
  background-color: rgb(241, 242, 244);
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}
a {
  color: blue;
}
a:hover {
  text-decoration: underline;
}

.parallax {
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 90vh;
  /* Since the parallax elements still consume space, we set the margin to undo
     the height of this parallax element making it essentially consume 0 space.
  */
  margin-bottom: -90vh;
}
.parallax.forest {
  transform: scale(10) translate3d(200px, 136.1px, -9px) !important;
}
.parallax.moon {
  transform: scale(100) translate3d(-50px, -720.12px, -99px) !important;
}
.forest-mask {
  background: linear-gradient(transparent 30%, rgba(216, 217, 219) 75%);
  height: 1580px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#__next {
  overflow-y: scroll;
  overflow-x: hidden;
}

.button-primary {
  @apply bg-primary-500 hover:bg-primary-700 font-medium transform ease-in-out duration-500 text-white px-3 py-2 rounded;
}

.button-secondary {
  @apply px-3 py-1 disabled:opacity-20 disabled:cursor-default rounded bg-white border-2 border-primary-500 text-primary-700 hover:text-primary-900;
}

.button-primary-destructive {
  @apply bg-destructive-700 hover:bg-destructive-600 font-medium transform ease-in-out duration-500 text-white px-3 py-2 rounded;
}
.button-secondary-destructive {
  @apply px-3 py-1 rounded-md bg-white disabled:opacity-20 disabled:cursor-default border-2 border-destructive-500 text-destructive-700 hover:text-destructive-900 hover:bg-destructive-50 transition ease-in-out duration-500;
}

/* Override MUI gutter to match element padding */
/* There's a bug where MUI-root is overriding these styles in production */
/* https://github.com/mui-org/material-ui/issues/29476 */
.MuiTypography-gutterBottom {
  margin-bottom: 12px !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: 'Avenir Next LT Pro Regular';
  src: url('/fonts/Avenir-Next-LT-Pro-Regular.otf');
}
